body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

header {
    background-color: #03ca28;
    color: white;
    padding: 20px;
    text-align: center;
}

main {
    max-width: 100%;
    margin: 0;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.select-api {
    text-align: center;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 20px;
    font-size: 30px;
}

select, button {
    width: 25%;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 18px;
    margin: 0 auto;
    display: block;
}

button {
    background-color:  #03ca28;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}

button:hover {
    background-color: #0e7c02;
}

.result-container {
    text-align: center;
    margin: 0 auto;
    max-width: 800px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    overflow-x: auto;
    padding: 20px;
    align-items: flex-start;
}

.release {
    text-align: center;
    padding: 10px; 
    border: 2px solid #fbf9f9;
    background-color: #030303;
    max-width: 500px;
    max-height: 700px;
    font-size: 14px;
}

.release h2 {
    font-size: 24px;
    margin-top: 10px;
}

.release p {
    font-size: 18px;
    margin-top: 5px;
}

/* Style the result images */
.release img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.release a {
    text-decoration: none;
    color: #333;
}
